html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  margin: 0;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: .3em;
  width: 100%;
  max-width: 50em;
  padding: 0 1.5em;
}

.banner-content h2 {
  background-color: rgba(0, 0, 0, .5);
  display: inline;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.4;
}

.banner-content p {
  font-size: 2rem;
  font-style: italic;
  margin: .6em 0;
}
